<h1>Listing nodes</h1>

<table>
  <tr>
	<th>ID</th>
	<th>Node-ID</th>
    <th></th>
  </tr>

<% @nodes.each do |node| %>
  <tr>
	<td><%= node.id%></td>
	<td><%= node.id.to_s(16)%>
	<td><%= link_to 'Stats', node_path(node)%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Node', new_node_path %>
