<p>
  <b>Node-ID</b>
  <%= @node.id.to_s(16) %>
</p>
<%
	defs = {
		"5 Minutes" => 600,
		"1 Hour " => 3600,
		"1 Day" => 24 * 3600,
		"1 Week" => 7 * 24 * 3600,
		"1 Year" => 365 * 24 * 3600
	}
%>

<% defs.each_pair do |name,interval| %>
<p>
  <b><%= name %></b><br />
	<img src="/nodes/<%= @node.id %>/stats/interface.png?secs=<%=interval%>&width=600&height=200" />
</p>

<% end %>
